.sender {
	background-color: #C89FFF;
	padding: 40px 0;
	margin-bottom: 20px;
}

.submit-button {
	width: 100%;
	margin-top: 15px;
}

.btn-default {
	font-size: 18px;
}

.show-log-btn {
	width: 100%;
}

#error-log-container, #request-log-container {
	display: none;
}
#request-log-container {
	background-color: #A6A6FF;
}
#error-log-container {
	background-color: #FFA6A6;
}

.hide-log-text {
	display: none;
}
.log-area {
	height: 400px;
}
#error-log-container .log-area {
	background-color: #f9f2f4;
}
#request-log-container .log-area {
	background-color: #f4f2f9;
}
#request-log-container .log-area > pre {
	color: #29298D;
}

#error-log-container .log-area > pre {
	color: #c7254e;
}

.control-container {
	padding: 10px 30px;

}

.control {
	padding-left: 15px;
}

pre {
	margin-top: 10px;
	word-wrap: normal;
	overflow: scroll;
	height: 95%;
}

input[disabled]:hover {
	cursor: not-allowed;;
}

.ip {
	background-color: #000;
	color: #fff;
	font-weight: bold;
}

.sn {
	color: #22a613;
}
.data-item {
}

.counter {
	color: #7F3F45;
}

#refresh-error, #refresh-request {
	margin-top: 10px;
	font-size: 16px;
}