<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="Исаев Никита isv.nikita@gmail.com" />
    <title>LoggingApp</title>

    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='css/lib/bootstrap.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	
	<script type="text/javascript" src="{{ url_for('static', filename='js/lib/jquery.min.js') }}"></script>
	
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
	<div class="container page">
		<div class="page-header">
  			<h1>It is a simple Flask app <small>work with logging python lib</small></h1>
		</div>
		<div class= "container">
			<div class="row sender">
				<div class = "col-sm-7 col-sm-offset-1">
					<h3 class="text-center">  Click on the button to send data of yours counters </h3>
				</div>
				<div class = "col-sm-3">
					<input class="btn btn-default submit-button" type="submit" value="Submit">
				</div>
			</div>
			<div class = "row">
				<div class="col-sm-6">
					<button type="button" id="show-error-log" class="btn btn-default show-log-btn" data-target="errors">Error log</button>
					<p class="text-center show-log-text"> Press the "Error log" button for show error log of app </p>
					<p class="text-center hide-log-text"> Press the "Error log" button for hide error log of app </p>
					<div class="row-fluid log-container" id = "error-log-container">
						<div class="control-container row-fluid">
							<div class="control">
							</div>
							<div class="checkbox">
						 		<label>
						    		<input type="checkbox" id="is-today" checked> Today
						  		</label>
							</div>
							<input type="date" id="user-date" disabled>
							<button type="submit" class="btn btn-xs" id="refresh-error">Refresh</button>
						</div>
						<div class="log-area col-sm-12">
						</div>
					</div>
				</div>
				<div class="col-sm-6 container">
					<button type="button" id="request-log" class="btn btn-default show-log-btn" data-target="request">Request log</button>
					<p class="text-center show-log-text"> Press the "Request log" button for show request log of app </p>
					<p class="text-center hide-log-text"> Press the "Error log" button for hide request log of app </p>
					<div class="row-fluid log-container" id = "request-log-container">
						<div class="control">
						</div>
						<div class="log-area col-sm-12">
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
    <script src="{{url_for('static',filename='js/lib/bootstrap.min.js')}}"></script>
	<script src="{{url_for('static',filename='js/main_page.js')}}"></script>
  </body>
</html>